@font-face {
    font-family: 'Counter strike';
    src: url('font/cs_regular.ttf') format('truetype');
}
body
{
    margin: 0;
    background-color: #0c0f12;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #de9b35;
    border-radius: 3px;
}
li
{
    float: left;
}
li a
{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover
{
    background-color: #d7d751;
}
h1
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 170px;
    text-align: center;
    margin-top: 250px;
}

p
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 27px;
    text-align: justify;
    margin: 15px;
}
h2
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 36px;
    text-align: center;
}
.fons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* Index */
body.index{
    display: flex;
    justify-content: center;
}

body.index .menu-index{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 20px;
}

body.index .boto-mapa{
    display: inline-block;
    padding: 15px 40px;
    background-color: #ff9800;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

body.index .menu-index li a:hover{
    background-color: #de9b35;
    transform: scale(1.05);
    box-shadow: 0 0 10px black;
}


/* Mapas */
body.mapas h1{
    font-size: 100px;
    margin-top: 30px;
}

/* Historia */
body.hisotria h1{
    font-size: 100px;
    margin-top: 30px;
}

/* Armas */
body.armas h1{
    font-size: 100px;
    margin-top: 30px;
}