@font-face {
    font-family: 'Counter strike';
    src: url('font/cs_regular.ttf') format('truetype');
}
body
{
    margin: 0;
    background-color: #0c0f12;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #de9b35;
    border-radius: 3px;
}
li
{
    float: left;
}
li a
{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover
{
    background-color: #d7d751;
}
h1
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 170px;
    text-align: center;
    margin-top: 250px;
}

p
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 27px;
    text-align: justify;
    margin: 15px;
}
h2
{
    font-family: 'Counter strike', sans-serif;
    color: #de9b35;
    font-size: 36px;
    text-align: center;
}
.fons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* Index */
body.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
    text-align: center;
}

body.index .menu-index{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin: 80px auto 0;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: transparent;
}

body.index .menu-index li{
    margin: 0;
    width: 500px;
}

body.index .menu-index li a{
    display: block;
    padding: 28px 20px;
    text-decoration: none;
    background: none !important;
}

body.index li a.boto-mapa{
    background: #de9b35 !important;
    font-family: 'Counter Strike', sans-serif;
    font-size: 25px;
}
body.index li a.boto-historia{
    background: #de9b35 !important;
    font-family: 'Counter Strike', sans-serif;
    font-size: 25px;
}
body.index li a.boto-armas{
    background: #de9b35 !important;
    font-family: 'Counter Strike', sans-serif;
    font-size: 25px;
}

/* Mapas */
body.mapas h1{
    font-size: 100px;
    margin-top: 30px;
}

/* Historia */
body.hisotria h1{
    font-size: 100px;
    margin-top: 30px;
}

/* Armas */
body.armas h1{
    font-size: 100px;
    margin-top: 30px;
}