body {
  overflow: hidden;
}

.foreground,
.midground,
.background, .cel, .terra {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ******************* */
/*   HERBA PRIMERA     */
/* ******************* */
.foreground {
  animation: parallax_herba1 linear 25s infinite both;
  background: url("imatges/foreground_grass.png") 0 100% repeat-x;
  z-index: 4;
}

@keyframes parallax_herba1 {
  0% {
    background-position: -3584px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

/* ******************* */
/*   HERBA SEGONA      */
/* ******************* */
.midground {
  background: url("imatges/midground_grass.png") 0 100% repeat-x;
  z-index: 3;
  animation: parallax_herba1 linear 25s infinite both;
}
@keyframes parallax_herba2 {
  0% {
    background-position: -3584px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

/* ******************* */
/*     MUNTANYES       */
/* ******************* */
.background {
  animation: parallax_herba1 linear 55s infinite both;
  z-index: 2;
  background-image: url(imatges/background_mountain5.png), url(imatges/background_mountain4.png), url(imatges/background_mountain3.png), url(imatges/background_mountain2.png), url(imatges/background_mountain1.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  
}


/* ******************* */
/*       NUVOL         */
/* ******************* */
#cloud {
  animation: cloud-move 20s linear infinite;
  position: relative;
  top: 90px;
  left: 0px;
  opacity: 1;
  z-index: 2;
}

#cloud .cloud {
  border-radius: 50%;
  width: 160px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 10px;
}

#cloud .cloud-2 {
  left: 50px;
  top: 0;
}

#cloud .cloud-3 {
  left: 110px;
  top: 20px;
}

@keyframes cloud-move{
  0%{
    left: 0%;
    opacity: 0;
  }
  33%{
    left: 33%;
    opacity: 1;
  }
  66%{
    left: 66%;
    opacity: 1;
  }
  100%{
    left: 100%;
    opacity: 0;
  }

}

/* ******************* */
/*        SOL          */
/* ******************* */
#sun {
  background: #ffd630;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  top: 30px;
  left: 160px;
  animation: sun 25s linear infinite;
}

@keyframes sun {
  0%{
    left: -150px;
    opacity: 0;
  }
  10%{
    left: 0%;
    opacity: 1;
    top: 5%;
    background-color: brown;
  }
  50%{
    left: 50%;
    opacity: 1;
    top: 25%;
    background-color: orange;
  }
  80%{
    left: 90%;
    opacity: 1;
    top: 40%;
    background-color: #ffd630;
  }
  90%{
    left: 100%;
    opacity: 0;
    top: 35%;
  }
  100%{
    left: 150%;
    opacity: 0;
    top: 35%;
  }
}

/* ******************* */
/*       LLUNA         */
/* ******************* */
#moon {
  position: absolute;
  opacity: 0;
  top: 20px;
  right: -120px;
  z-index: 1;
  animation: moon 25s linear infinite;
}
@keyframes moon{
  0%{
    right: -150px;
    opacity: 0;
  }
  40%{
    opacity: 0;
    right: -120px;
  }
  50%{
    opacity: 1;
    right: 50%;
  }
  70%{
    opacity: 1;
    right: 100px;
  }
  90%{
    right: -120px;
    opacity: 0;
  }
  100%{
    right: -120px;
    opacity: 0;
  }
}

#moon .moon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

#moon .moon-2 {
  background: #000000;
  position: absolute;
  top: -20px;
  left: 20px;
}

/* ******************* */
/*        CEL          */
/* ******************* */
.cel {
  z-index: 0;
  background-color: #0e509b;
  animation: cel 25s ease-in-out infinite;
}
@keyframes cel{
  0% {
    background-color: #87ceeb;
  }
  40% {
    background-color: #87ceeb;
  }
  50% {
    background-color: #000000;
  }
  90% {
    background-color: #000000;
  }
  100% {
    background-color: #87ceeb;
}
}

/* ******************* */
/*        PANTERA      */
/* ******************* */
.tuna {
  animation: walk-cycle 1s steps(12) 3, walk-to-run 0.75s steps(12) 3s 1,
    run-cycle 0.75s steps(13) 3.75s infinite;
  background: url(imatges/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -200px;
  transform: translateZ(0);
  /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -2391px;
  }
}

@keyframes walk-to-run {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: -800px -2391px;
  }
}

@keyframes run-cycle {
  0% {
    background-position: -1200px 0px;
    bottom: 40px;
  }
  100% {
    background-position: -1200px -2591px;
    bottom: 40px;
  }
}
h1{
  position: absolute;
  left: 3%;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-size: 30px;
  z-index: 5;
}
.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}